.sidenav {
    background-color: #151740;
    width: 250px;
}

.sidenav a, .sidenav mat-list-item, .sidenav p {
    color: #e3e8e5;
}

.sidenav i {
    padding-right: 10px;
}

.content {
    padding: 16px;
    background-color: #e3e8e5;
}

.divider {
    border: 0.5px solid #484b49;
    margin-left: 4px;
    margin-right: 4px;
    opacity: 0.4;
}

.workspaces p {
    padding-top: 4px;
    padding-left: 30px;
    font-size: 16px;
}

.workspaces a {
    color: #e3e8e5;
    padding-left: 50px;
    font-size: 14px;
    width: 100%;
}

.workspaces  i {
    margin-left: 16px;
}

.resources a:hover {
    background-color: #1e2869;
}

.add-workspace {
    margin-left: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}


