<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/">
                <i class="material-icons">
                    home
                </i>
                Início
            </a>
            <mat-list-item>
                    <i class="material-icons">
                        workspaces
                    </i>
                    Workspaces
                <a routerLink="workspaces/create" class="add-workspace">
                    <i class="material-icons">
                        add
                    </i>
                </a>
            </mat-list-item>
            <mat-divider class="divider"></mat-divider>
            <mat-nav-list class="workspaces" *ngFor="let workspace of workspacesToList">
                <a mat-list-item routerLink="/workspaces/{{workspace.workspace.workspaceId}}/resources/create">
                    {{workspace.workspace.name}}
                    <i class="material-icons">
                        add
                    </i>
                </a>
                <mat-nav-list class="resources" *ngFor="let resource of workspace.resources">
                    <mat-list-item>
                        <a mat-list-item routerLink="/workspaces/{{resource.workspaceId}}/resources/{{resource.resourceId}}">
                            {{resource.name}}
                        </a>
                    </mat-list-item>
                </mat-nav-list>
            </mat-nav-list>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
