<mat-toolbar class="header">
    <span><img class="logo" src="../../../../assets/logo.png"></span>
    <div class="user" *ngIf="user">
        <button [matMenuTriggerFor]="menu">
            <mat-icon aria-hidden="false" aria-label="user icon">person_outline</mat-icon>
            <p>{{ user.userName }}</p>
        </button>
        <mat-menu #menu="matMenu">
            <button type="button" mat-menu-item (click)="onLogout()">
                <mat-icon aria-hidden="false" aria-label="logout icon">logout</mat-icon>
                Log out
            </button>
        </mat-menu>
    </div>
</mat-toolbar>
        
