<form 
 #loginForm="ngForm"
  class='signup-form-section'
  (ngSubmit)="onSignUp()"
>
  <mat-form-field class='signup-input' appeareance="fill">
    <mat-label for="username">Nome de usuário</mat-label>
    <input
      name="username"
      matInput
      placeholder="Florentina"
      required
      [(ngModel)]="userInfo.userName"
      #username="ngModel"
      />
    <mat-error *ngIf="username.invalid && username.touched && username.errors?.required">
      Este campo é obrigatório
    </mat-error>
  </mat-form-field>
  <mat-form-field class='signup-input' appeareance="fill">
    <mat-label for="email">Email</mat-label>
    <input
      name="email"
      type="email"
      matInput
      placeholder="example@goodmail.com"
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}"
      required
      [(ngModel)]="userInfo.email"
      #inputEmail="ngModel"
      />
    <mat-error *ngIf="inputEmail.invalid && inputEmail.touched && inputEmail.errors?.required">
      Este campo é obrigatório
    </mat-error>
    <mat-error *ngIf="inputEmail.invalid && inputEmail.touched && inputEmail.errors?.pattern">
      Este email é inválido.
    </mat-error>
  </mat-form-field>
  <mat-form-field class='signup-input'appeareance="fill">
    <mat-label for="password">Senha</mat-label>
    <input
      name="password"
      type="password"
      matInput
      placeholder="very-secret-password"
      required
      [(ngModel)]="userInfo.password"
      #password="ngModel"
    />
    <mat-error *ngIf="password.invalid && password.touched && password.errors?.required">
      Este campo é obrigatório
    </mat-error>
  </mat-form-field>
  <mat-form-field class='signup-input'appeareance="fill">
    <mat-label for="passwordConfirmation">Confirme sua senha</mat-label>
    <input
      name="passwordConfirmation"
      type="password"
      matInput 
      placeholder="very-secret-password (again)"
      required
      [(ngModel)]="userInfo.passwordConfirmation"
      #passwordConfirmation="ngModel"
    />
    <mat-error 
      *ngIf="passwordConfirmation.invalid && passwordConfirmation.touched && passwordConfirmation.errors?.required">
      Este campo é obrigatório
    </mat-error>
  </mat-form-field>
  <p align="center" style="color: red" class="global-error-section" *ngIf="error">
    Aconteceu um erro ao fazer login. <br/>
    {{ error }}
  </p>
  <div class='signup-button-section'>
    <button type="submit" mat-raised-button color="primary">Criar conta</button>
    <div>
      <p>
        Já possui conta? <a routerLink="/auth/login">Faça login</a>
      </p>
    </div>
  </div>
</form>
