
.signup-section {
    display: flex;
    width: 600px;
    height: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-form-section {
    display: flex;
    width: 500px;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-input {
    width: 90%;
    padding: 8px;
}

.signup-button-section {
    display: flex;
    height: 80px;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 10px; 
    padding: 10px;
}

.global-error-section {
    margin-top: 10px;
}
