<form
 #loginForm="ngForm"
  class='login-form-section'
  (ngSubmit)="onSubmit()"
>
  <mat-form-field class='login-input' appeareance="fill">
    <mat-label for="username">Nome de usuário</mat-label>
    <input
      name="username"
      matInput
      placeholder="Florentina"
      required
      [(ngModel)]="user.username"
      #username="ngModel"
      />
    <mat-error 
        *ngIf="username.invalid && username.touched && username.errors.required"
      >
        Este campo é obrigatório
    </mat-error>
  </mat-form-field>

  <!-- Password -->
  <mat-form-field class='login-input'appeareance="fill">
    <mat-label for="password">Senha</mat-label>
    <input
      name="password"
      type="password"
      matInput 
      placeholder="super-secret-password"
      required
      [(ngModel)]="user.password"
      #password="ngModel"
    />
    <mat-error
        style="color: red"
        *ngIf="password.invalid && password.touched && password.errors.required"
      >
        Este campo é obrigatório
    </mat-error>
  </mat-form-field>

  <!-- Global errors -->
  <p style='color: red' class='global-error-section' *ngIf="error">
    Aconteceu um erro ao fazer login. <br/>
    {{ error }}
  </p>
  <div class='login-button-section'>
    <button type="submit" mat-raised-button color="primary">Login</button>
    <div>
      <p>
        Não possui conta? <a routerLink="/auth/sign-up">Crie uma conta aqui</a>
      </p>
    </div>
  </div>
</form>
