<mat-card>
    <mat-card-title>Criar Nova Tab</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" name="name" [(ngModel)] = "tab.link">
        </mat-form-field>
    </form>
    <button mat-raised-button color="primary" (click)="create()">
        Salvar
    </button>
    
    <button class="cancel" mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>
